<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Correo de prueba con HTML</title>
</head>
<body>
<h1 style="color: #007bff;">¡Hola!</h1>
<p style="color:#f00;" th:text="${mensaje}"></p>
<p style='font-size: 14px;'> Hola <b> nombre </b> <br><br><br>
    Para <b>Makaia</b> es un gusto notificarte  que tu beca para el entrenamiento en  <b>
    <br>
    </b>
</p>
<div style="text-align: center;"  >
    <h4 style='font-size: 14px;'>¿Qué encontrarás en el acta de compromiso adjunta?</h4><br>
</div>

<ul style='font-size: 14px;'>
    <li><b>Acta de compromiso:</b> Como becario debes diligenciar todos los datos señalados en color gris y agregar tu firma al final en<br>
        la opción <b>firma participante</b>, si eres <b>menor de edad</b> tu representante también debe firmar y completar la información.</li><br><br>

    <li><b>Formato requisitos de información:</b> Diligenciar la información solicitada y adjuntar tú fotocopia o foto de la cédula por<br>
        ambos lados..</li>
</ul>

<h5 style='font-size: 14px;'> <b>Nota</b> </h5>
<ul style='font-size: 14px;'>
    <li>Para editar y diligenciar el PDF puedes hacer uso de la siguiente herramienta:<br>
        https://www.sejda.com/es/  </li><br><br>

    <li>Es importante que la firma sea digital, es decir puedes escribir la firma en una hoja, tomarle foto y adjuntarla como imagen al documento"<br>
        según corresponda.</li><br><br>
</ul>

<p style='font-size: 14px;'> Quedamos muy atentos de tu respuesta y de nuevo <b>FELICITACIONES y BIENVENIDO (A)</b> al Bootcamp de BETEK.<br><br>
    Cordialmente,</p><br><br>

</body>
</html>
