<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p style='font-size: 14px;'><strong>¡Hola  <span th:text="${nombre}"></span> <span th:text="${apellido}"></span>!</strong> 👋</p>
    🔍 Hemos revisado los documentos y apreciamos tu colaboración. Sin embargo, notamos que hay información faltante en algunos de ellos, lo cual nos impide avanzar con el proceso.<br>

    🔍 Para seguir adelante, necesitaríamos que revises la documentación y nos proporciones la información que falta o corrijas cualquier sección incompleta. Esto nos ayudará a garantizar que todos los datos necesarios estén disponibles y podamos proceder sin demoras innecesarias. <b>
        <br>
    </b>
</p>
<p>
    ⏳ Por favor, tómate un momento para revisar detenidamente los documentos y realizar las correcciones necesarias. Si tienes alguna pregunta o necesitas aclaración sobre los requisitos específicos, ¡no dudes en contactarnos! Estamos aquí para ayudarte en todo lo que necesites. 💬

    Agradecemos mucho tu pronta atención a este asunto y esperamos recibir la documentación actualizada lo antes posible. ¡Gracias por tu colaboración! 🙏

</p>
<p style='font-size: 14px;'> ¡Saludos cordiales! 🌟 <br><br>
    Cordialmente,</p><br><br>
<!--<img src="../resources/static/images/Betek.png" width="100%" th:src="images/static/Betek.png" >-->

</body>
</html>