<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>🚀 <strong>¡Hola  <span th:text="${nombre}"></span> <span th:text="${apellido}"></span>!</strong> 👋</p>
<p>¡Espero que estés teniendo un gran día! Nos complace informarte que ya puedes comenzar tu emocionante viaje de aprendizaje en nuestra plataforma en línea. 🌟</p>
<p>🔑 Hemos creado tus credenciales de inicio de sesión para que puedas acceder a la plataforma:</p>
<ul>
    <li><strong>Nombre de usuario:</strong> <span th:text="${usuario}"></span></li>
    <li><strong>Contraseña:</strong> <span th:text="${contrasenia}"></span></li>
</ul>
<p>Por favor, sigue estos sencillos pasos para comenzar:</p>
<ol>
    <li>Visita [URL de la plataforma].</li>
    <li>Ingresa tu nombre de usuario y contraseña en los campos correspondientes.</li>
    <li>Una vez que hayas iniciado sesión, ¡estarás listo para explorar todos los recursos y herramientas disponibles para tu entrenamiento! 📚💻</li>
</ol>
<p>Recuerda cambiar tu contraseña temporal después de iniciar sesión por primera vez para mantener tu cuenta segura. Te recomendamos elegir una contraseña segura y mantenerla confidencial. 🔒</p>
<p>Si necesitas ayuda en cualquier momento durante este proceso, ¡no dudes en contactarnos! Estamos aquí para ayudarte y asegurarnos de que tengas la mejor experiencia posible. 🤝</p>
<p>¡Te deseamos mucho éxito en tu viaje de aprendizaje! 🚀🌈</p>
<p>Saludos cordiales,</p>
</body>
</html>