<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p style='font-size: 14px;' > Hola <span th:text="${nombre}"></span> <span th:text="${apellido}"></span> <b>  </b> <br><br><br>
    Para <b>Bootcamp Betek</b> es un gusto notificarte 👏 que tu beca para el entrenamiento en <b>Desarrollo Web Back End 💻</b> ha sido <b>APROBADA</b> 🚀
    y pronto comenzaremos esta aventura que transformará tu vida y te conectará con oportunidades laborales en sector de la tecnología. <b>
        <br>
    </b>
</p>
<p>
    Para legalizar tu beca y formalizar nuestro compromiso contigo y tu entrenamiento, es necesario que nos envíes el documento adjunto
    diligenciado y firmado ✍ <b> el lunes 14 de agosto de 2023 hasta las 12:00 pm del medio día</b>

</p>
<div style="text-align: center; color = white; "  >
    <h4 style='font-size: 14px;'>¿Qué encontrarás en el acta de compromiso adjunta?</h4><br>
</div>
<div style="text-align: center;" >
    <ul style=' font-size: 14px; text-align: left; display: inline-block; '>
        <li ><b>Acta de compromiso:</b> Como becario debes diligenciar todos los datos señalados en color gris y agregar tu firma al final en<br>
            la opción <b>firma participante</b>, si eres <b>menor de edad</b> tu representante también debe firmar y completar la información.</li><br><br>

        <li><b>Formato requisitos de información:</b> Diligenciar la información solicitada y adjuntar tú fotocopia o foto de la cédula por<br>
            ambos lados..</li>
    </ul>
</div>


<h5 style='font-size: 14px;'> <b>Nota: 👀</b> </h5>
<ul style='font-size: 14px;'>
    <li>Para editar y diligenciar el PDF puedes hacer uso de la siguiente herramienta:<br>
        https://www.sejda.com/es/  </li><br><br>

    <li>Es importante que la firma sea digital, es decir puedes escribir la firma en una hoja, tomarle foto y adjuntarla como imagen al documento"<br>
        según corresponda.</li><br><br>
</ul>

<p style='font-size: 14px;'> Quedamos muy atentos de tu respuesta y de nuevo <b>FELICITACIONES 🎉y BIENVENIDO (A)</b> al <b>Bootcamp de BETEK</b> .<br><br>
    Cordialmente,</p><br><br>
<!--<img src="../resources/static/images/Betek.png" width="100%" th:src="images/static/Betek.png" >-->

</body>
</html>
